{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Grape installer</h1>
    </div>
    <p class="lead">Step 1: Select the product</p>

    <form role="form" method="post">
    <div class="form-group">
        <label for="product">Product</label>
        <select class="form-control" id="product">
            <option>Basic site</option>
            <option>P-Cart</option>
        </select>
    </div>
    </form>
{% endblock %}